<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance - {% block head_title %}Balance App{% endblock %}</title>
    <link rel="stylesheet" href="static/css/flat-remix.css">
    <link rel="stylesheet" href="static/css/styles.css">

</head>

<body>

    {% include "components/header.html" %}
    {% include "components/navbar.html" %}


    <main>
        {% block page_title %}
        <h1>App de movimientos</h1>
        {% endblock page_title %}

        {% block contenido %}
        {% endblock %}

    </main>
    
    {% include "components/footer.html" %}

</body>

</html>