{% extends "base.html" %}

{% block head_title%}
{{ super() }}: Nuevo movimiento
{% endblock head_title%}

{% block page_title %}
<h1>Crear nuevo movimiento</h1>
{% endblock page_title %}

{% block contenido %}

<!--
    CRUD: Create, Read, Update, Delete

    GET: read
    POST: create (a veces tb xa delete o update)
    PUT: update
    DELETE: delete
-->

<form action="/nuevo" method="post">
    <div class="campo-formulario">
        <label for="fecha">Fecha</label>
        <input type="date" name="fecha" id="fecha">
    </div>

    <div class="campo-formulario">
        <label for="concepto">Concepto</label>
        <input type="text" name="concepto" id="concepto">
    </div>

    <div class="campo-formulario">
        <input type="radio" name="tipo" id="ingreso" value="I">
        <label for="ingreso">Ingreso</label>
        <input type="radio" name="tipo" id="gasto" value="G">
        <label for="gasto">Gasto</label>
    </div>

    <div class="campo-formulario">
        <label for="cantidad">Cantidad</label>
        <input type="number" name="cantidad" id="cantidad">
    </div>

    <div class="acciones">
        <button type="submit">Enviar</button>
    </div>
</form>
{% endblock contenido %}